venv/
.idea/

####
# Groups of files 
####
# Emacs autosaves
*~

# Python bytecode
*.pyc

# Log files 
*.log

# Pickled output files 
*.pickle

# Apple Desktop Services Store file
.DS_store

####
# Specific files 
####
# Result of test run
spaghetti_plot.pdf

# Template for licenseheaders.py to include gpl in headers of python files.
gpl-v3.tmpl

####
# Directories
####

# Default figures directory
figures/

# Results of an optic flow run.
of_results/
