####
# Groups of files 
####
# Emacs autosaves
*~

# Python bytecode
*.pyc


####
# Specific files 
####
# Result of test run
spaghetti_plot.pdf

# Ignore the test directory until I've got publishable data in it.
test/